<!-- INCLUDE overall_header.html -->

<form action="{S_POST_ACTION}" method="post" name="postform"{S_FORM_ENCTYPE}>

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2"><b>{L_POST_A}</b></th>
</tr>

<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_SHOW_ICONS -->
	<tr>
		<td class="row1"><b class="genmed">{L_KARMA_ICON}:</b></td>
		<td class="row2">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td><input type="radio" class="radio" name="icon" value="0" checked="checked" /><span class="genmed">{L_KARMA_NO_ICON}</span> <!-- BEGIN topic_icon --><span style="white-space: nowrap;"><input type="radio" class="radio" name="icon" value="{topic_icon.ICON_ID}"{topic_icon.S_ICON_CHECKED} /><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" hspace="2" vspace="2" /></span> <!-- END topic_icon --></td>
			</tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->

<!-- IF S_KARMA_POWER -->
	<tr>
		<td class="row1"><b class="genmed">{L_KARMA_POWER}:</b></td>
		<td class="row2">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td>{S_KARMA_POWER_SELECT}</td>
			</tr>
			</table>
		</td>
	</tr>
<!-- ENDIF -->

<tr>
	<td class="row1" width="22%" valign="top"><b class="genmed">{L_MESSAGE_BODY}:</b><br /><span class="gensmall">{L_KARMA_EXPLAIN}&nbsp;</span><br /><br />
	<!-- IF S_SMILIES_ALLOWED -->
		<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
		<tr>
			<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
		</tr>
		<tr>
			<td align="center">
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
				<!-- END smiley -->
			</td>
		</tr>

		<!-- IF S_SHOW_SMILEY_LINK -->
			<tr>
				<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300');return false;">{L_MORE_SMILIES}</a></td>
			</tr>
		<!-- ENDIF -->

		</table>
	<!-- ENDIF -->
	</td>
	<td class="row2" width="78%" valign="top">
		<script type="text/javascript">
			<!--
			var form_name = 'postform';
			var text_name = 'message';
			//-->
		</script>

		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<!-- INCLUDE posting_buttons.html -->
		<tr>
			<td valign="top" style="width: 100%;"><textarea name="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{MESSAGE}</textarea></td>
			<!-- IF S_BBCODE_ALLOWED -->
			<td width="80" align="center" valign="top">
				<script type="text/javascript">
				<!--
					colorPalette('v', 7, 6)
				//-->
				</script>
			</td>
			<!-- ENDIF -->
	 	</tr>
		</table>
	</td>
</tr>

<tr>
	<td class="row1" valign="top"><b class="genmed">{L_OPTIONS}:</b><br />
		<table cellspacing="2" cellpadding="0" border="0">
		<tr>
			<td class="gensmall">{BBCODE_STATUS}</td>
		</tr>
		<!-- IF S_BBCODE_ALLOWED -->
		<tr>
			<td class="gensmall">{IMG_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{FLASH_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{URL_STATUS}</td>
		</tr>
		<tr>
			<td class="gensmall">{SMILIES_STATUS}</td>
		</tr>
		<!-- ENDIF -->
		</table>
	</td>
	<td class="row2">
		<table cellpadding="1">
		<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
				<td class="gen">{L_DISABLE_BBCODE}</td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" class="radio" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
				<td class="gen">{L_DISABLE_SMILIES}</td>
			</tr>
		<!-- ENDIF -->

		<!-- IF S_LINKS_ALLOWED -->
		<tr>
			<td><input type="checkbox" class="radio" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
			<td class="gen">{L_DISABLE_MAGIC_URL}</td>
		</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}
		<input class="btnlite" type="submit" tabindex="10" name="preview" value="{L_PREVIEW}" />
		&nbsp; <input class="btnmain" type="submit" accesskey="s" tabindex="11" name="post" value="{L_SUBMIT}" />
		<!-- IF not S_SHOW_ATTACH_BOX and not S_SHOW_POLL_BOX -->
			<!-- IF S_SAVE_ALLOWED -->&nbsp; <input class="btnlite" type="submit" accesskey="k" tabindex="12" name="save" value="{L_SAVE}" /><!-- ENDIF -->
			<!-- IF S_HAS_DRAFTS -->&nbsp; <input class="btnlite" type="submit" accesskey="d" tabindex="13" name="load" value="{L_LOAD}" /><!-- ENDIF -->
		<!-- ENDIF -->
		&nbsp; <input class="btnlite" type="submit" accesskey="c" tabindex="14" name="cancel" value="{L_CANCEL}" />
	</td>
</tr>
</table>

<!-- INCLUDE breadcrumbs.html -->

</form>

<br clear="all" />

<!-- INCLUDE overall_footer.html -->
